.scrollable {
    overflow-y: auto;
    height: 800px;
}
.scrollable::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.scrollable::-webkit-scrollbar-thumb {
    background: #008080;
    border-radius: 20px;
}
.scrollable::-webkit-scrollbar-thumb:hover {
    background: #4cb0af;
}