.scrollable {
    overflow-y: auto;
    height: 800px;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #9eebcf;
}